*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

section{
  background-color: rgb(126, 123, 123);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px 3px rgb(182, 55, 55);
}
.calc-container{
  width: 80%;
  max-width: 350px;
  background-color: rgb(27, 27, 27);
  border-radius: 8px;
  overflow: hidden;
}

.display{
  background-color: rgb(46, 45, 45);
  height: 160px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
  color:white;
}

.name{
  font-size: 20px;
  color:white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  opacity: 15; 
}

.name span{
  font-weight: bolder;
}

.display-1{
  margin-top:15px;
  opacity: 14;
  font-size: 20px;
  height: 30px;
  overflow: hidden;  
}

.temp-result{
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 20px;
  opacity: 50;
}

.all-buttons{
  color: white;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.button{
  border: 3px solid rgb(36, 35, 35);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(5, 5, 5);
  }

  .btn-0{
    grid-column: 1/3;
  }